.dash-descriptions{
    font-size: 13px;


}

.dash-legend{
    font-size: 13px;
    text-align: center;
    font-weight: bold;



}

.legendicon{
    color:#385AA8;

}

.legendicontwo{
    color:darkgrey;


}

.legendcard{
    background-color: #EDEDED;



}

.legendcontent{
    font-size: 13px;

}