.App {
  text-align: center;
}

.App-header {
  background-color: #385AA8;
  background-image: linear-gradient(to right, dodgerblue , yellow);
  min-height: 100vh;
  padding-top: 15%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-Body{
  background-color: #385AA8;
  background-image: linear-gradient(to right, white , white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;


}

.App-about{
  background-color: #385AA8;
  background-image: linear-gradient(to right, white , white);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;


}

.App-footer{
  background-image: linear-gradient(to right, dodgerblue , yellow);
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;



}

.app-bar{

  background-image: linear-gradient(to right, dodgerblue , yellow);
}
